
<div class="container-fluid border border-white ">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"></span>
                      </a>
                  </li>
                  <li>
                      <!-- <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-white" >Submission</span> </a> -->
                      
                          <!-- <button type="button" class="btn btn-light">Light</button> -->

                          <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-secondary" type="button" (click)="openChild()">Submissions</button>
                           
                            
                          </div>
                          <div class="d-grid gap-2 col-6 mx-auto">
                            <button *ngIf="this.userDService.users.role === 'lead'" class="btn btn-secondary" type="button" (click)="openChild2()">Students</button>

                           
                            
                          </div>

                        
              </ul>
              <hr>
              
          </div>
      </div>
      <div class="col py-3">
          <!-- <app-profile/> -->
          <!-- <app-maincontent></app-maincontent> -->
          <div *ngIf="childVisible2">
            <app-student-manager></app-student-manager>
          </div>
          <div *ngIf="childVisible">
            <app-maincontent></app-maincontent>
          </div>
      </div>
  </div>
</div>