<div class="container">
  <h2 class="text-center">User Details</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">First Name: {{ userDetailsService.users.firstName }}</h5>
          <h5 class="card-title">Last Name: {{  userDetailsService.users.lastName }}</h5>
          <h5 class="card-title">Email: {{  userDetailsService.users.email }}</h5>
          <h5 class="card-title">Password: {{  userDetailsService.users.password }}</h5>
          <h5 class="card-title">role: {{  userDetailsService.users.role }}</h5>
        
        </div>
      </div>
    </div>
  </div>
</div>